In [1]:
import re
import os
import pandas as pd
from collections import Counter

time_controls = ['180+0', '180+2', '300+0', '300+3','600+0', '600+5', '900+10']

# Specify the path to your text file
assets_path = os.path.join(os.path.dirname(os.getcwd()), 'asset')
folder_name = 'rating_split_7_rand'
folder_path = os.path.join(assets_path, folder_name)

df = pd.DataFrame(index=time_controls)
for group in range(10):
    file_name = 'group_{}.pgn'.format(group)
    file_path = os.path.join(folder_path, file_name)

    with open(file_path, 'r') as file:
        data = file.read()

    timecontrol_matches = re.findall(r'\[TimeControl "(.*?)"\]', data)
    timecontrol_counts = Counter(timecontrol_matches)
    total_games = sum(timecontrol_counts.values())

    df[group] = [timecontrol_counts[timecontrol] for timecontrol in time_controls]
    print("Group {} Total: {} games".format(group, total_games))

df.loc['Total'] = df.sum()

Group 0 Total: 154705 games
Group 1 Total: 484739 games
Group 2 Total: 848927 games
Group 3 Total: 1097034 games
Group 4 Total: 1275576 games
Group 5 Total: 1171586 games
Group 6 Total: 966077 games
Group 7 Total: 617368 games
Group 8 Total: 354205 games
Group 9 Total: 244783 games

In [2]:
print("TimeControl Count Per Rating Group:")
df

TimeControl Count Per Rating Group:

,0,1,2,3,4,5,6,7,8,9
180+0,15674,49651,90277,125372,173012,205636,226628,191753,158257,170377
180+2,13761,51445,104660,147620,178202,173553,150119,105678,74774,43439
300+0,47633,118105,172903,198071,208533,179989,136623,80683,36708,10853
300+3,32367,96986,166248,199012,202576,156205,89509,38725,8804,827
600+0,31239,114477,211267,286848,340154,303889,251818,146297,60528,17555
600+5,10638,40201,76402,101766,124229,108275,79591,40672,11907,1421
900+10,3393,13874,27170,38345,48870,44039,31789,13560,3227,311
Total,154705,484739,848927,1097034,1275576,1171586,966077,617368,354205,244783